<footer class="footer">
  <small>
    Word Machine Blog |
    Powered by <%= link_to('http://www.worldmachine.ie/', target: '_blank') do %>World Machine Technology
  <% end %>
  </small>
  <nav>
    <ul>
      <li><%= link_to 'Home', static_pages_home_path %></li>
      <li><%= link_to 'Help', static_pages_help_path %></li>
      <li><%= link_to 'About', static_pages_about_path %></li>
      <li><%= link_to 'Contact', static_pages_contact_path %></li>
      <li><%= link_to 'Log in', static_pages_home_path %></li>
    </ul>
  </nav>
</footer>
